.project-sidebar {
  padding: 4em;
  background-color: #f2c169;
  color: #000;
}
.project-sidebar .project-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.project-sidebar .project-menu li.menu-item {
  position: relative;
  height: 58px;
  margin-bottom: 2em;
}
.project-sidebar .project-menu li.menu-item.current-menu-item a {
  background-color: #fff;
  color: #000;
}
.project-sidebar .project-menu li.menu-item.current-menu-item a .project-menu-item-thumbnail {
  -webkit-box-shadow: 5px 0 0 white;
  -moz-box-shadow: 5px 0 0 white;
  box-shadow: 5px 0 0 white;
}
.project-sidebar .project-menu li.menu-item:not(.current-menu-item) a:hover {
  color: #ccc;
}
.project-sidebar .project-menu li.menu-item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
.project-sidebar .project-menu li.menu-item a .project-menu-item-thumbnail {
  position: absolute;
  top: 50%;
  left: 1em;
  width: 6em;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 5px 0 0 black;
  -moz-box-shadow: 5px 0 0 black;
  box-shadow: 5px 0 0 black;
}
.project-sidebar .project-menu li.menu-item a .project-menu-item-thumbnail div {
  padding-bottom: 100%;
}
.project-sidebar .project-menu li.menu-item a span {
  position: absolute;
  top: 50%;
  left: 8em;
  right: 2em;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.project-sidebar .project-menu li.menu-item:last-child {
  margin-bottom: 0;
}
.agenda-sidebar {
  margin-bottom: 4em;
}
.agenda-sidebar .agenda-date {
  position: relative;
  padding: 4em 2em 1em 2em;
  margin-bottom: 1em;
  background-color: #000;
  color: #fff;
}
.agenda-sidebar .agenda-date:last-child {
  margin-bottom: 0;
}
.agenda-sidebar .agenda-date .date {
  position: absolute;
  left: 0;
  top: 0;
  padding: .25em .5em;
  font-size: 1.5em;
  background-color: #f2c169;
  color: #000;
}
@media (max-width: 575px) {
  .sidebar {
    margin: 0 -15px;
  }
  .section-project-logs {
    padding-bottom: 4em;
    margin-top: 4em;
  }
}
