@import "../../variables/colors";

.project-menu{
	padding:0;
	margin:0;
	list-style:none;

	li.menu-item{
		position:relative;
		height:58px;
		margin-bottom:2em;

		&.current-menu-item{
			a{
				background-color:@white;
				color:@black;

				.project-menu-item-thumbnail{
					-webkit-box-shadow:5px 0 0 white;
					-moz-box-shadow:5px 0 0 white;
					box-shadow:5px 0 0 white;
				}
			}
		}

		a{
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background-color:@black;
			color:@white;
			text-transform:uppercase;
			font-weight:400;
			text-align:center;

			.project-menu-item-thumbnail{
				position:absolute;
				top:50%;
				left:1em;
				width:6em;
				-webkit-transform:translateY(-50%);
				-moz-transform:translateY(-50%);
				-ms-transform:translateY(-50%);
				-o-transform:translateY(-50%);
				transform:translateY(-50%);
				background-color:#ffffff;
				background-position:center;
				background-size:cover;
				background-repeat:no-repeat;
				-webkit-border-radius:100%;
				-moz-border-radius:100%;
				border-radius:100%;
				-webkit-box-shadow:5px 0 0 black;
				-moz-box-shadow:5px 0 0 black;
				box-shadow:5px 0 0 black;

				div{
					padding-bottom:100%;
				}
			}

			span{
				position:absolute;
				top:50%;
				left:8em;
				right:2em;
				-webkit-transform:translateY(-50%);
				-moz-transform:translateY(-50%);
				-ms-transform:translateY(-50%);
				-o-transform:translateY(-50%);
				transform:translateY(-50%);
			}
		}

		&:last-child{
			margin-bottom:0;
		}
	}

}

@media (max-width: 575px){
	.sidebar{
		margin:0 -15px;
	}
	.section-project-logs{
		padding-bottom:4em;
		margin-top:4em;
	}
}