.filters {
  margin: 2em 0;
}
.filters span {
  margin-right: 1em;
  color: #999;
}
.filters .button {
  color: #000;
  text-transform: none;
  border-color: #ddd;
}
.filters .button.active {
  border-color: #f2c169;
}
