.breadcrumb {
  padding: 2em 0 1em 0;
}
.breadcrumb ul.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}
.breadcrumb ul.breadcrumbs li {
  margin-right: 1em;
}
