.button {
  display: inline-block;
  padding: 1.2em 2em 1em 2em;
  border: 1px solid #000;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  /* Types */
  /* Colors */
}
.button.button-narrow {
  padding: .5em .7em .3em .7em;
}
.button.button-bold {
  font-weight: 400;
}
.button.button-rounded {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.button.button-filled {
  background-color: #000;
  color: #fff;
}
.button.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.button:not(.button-filled):hover {
  background-color: #000;
  color: #fff;
}
.button.button-black-on-yellow.button-filled {
  background-color: #000;
  color: #f2c169;
}
.button.button-black-on-yellow.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.button.button-black-on-yellow:not(.button-filled):hover {
  background-color: #000;
  color: #f2c169;
}
.button.button-yellow {
  border-color: #f2c169;
  color: #f2c169;
}
.button.button-yellow.button-filled {
  background-color: #f2c169;
  color: #000;
}
.button.button-yellow.button-filled:hover {
  background-color: transparent;
  color: #f2c169;
}
.button.button-yellow:not(.button-filled):hover {
  background-color: #f2c169;
  color: #000;
}
.button.button-white {
  border-color: #fff;
  color: #fff;
}
.button.button-white.button-filled {
  background-color: #fff;
  color: #000;
}
.button.button-white.button-filled:hover {
  background-color: transparent;
  color: #fff;
}
.button.button-white:not(.button-filled):hover {
  background-color: #fff;
  color: #000;
}
.comments {
  margin: 0;
  padding: 0;
  list-style: none;
}
.comments .comment {
  padding: 2em 4em;
}
.comments .comment .comment-body .comment-author .avatar {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.comments .comment .comment-body .comment-author .fn {
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.5em;
}
.comments .comment .comment-body .comment-author .says {
  display: none;
}
.comments .comment .comment-body .comment-meta {
  margin: .5em 0 1em 0;
  font-style: italic;
  text-decoration: underline;
}
.comments .comment .comment-body > p {
  margin: 2em 0 2em 2em;
}
.comments .comment .comment-body .reply {
  margin-left: 2em;
  display: inline-block;
  padding: 1.2em 2em 1em 2em;
  border: 1px solid #000;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  /* Types */
  /* Colors */
  padding: .5em .7em .3em .7em;
}
.comments .comment .comment-body .reply.button-narrow {
  padding: .5em .7em .3em .7em;
}
.comments .comment .comment-body .reply.button-bold {
  font-weight: 400;
}
.comments .comment .comment-body .reply.button-rounded {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.comments .comment .comment-body .reply.button-filled {
  background-color: #000;
  color: #fff;
}
.comments .comment .comment-body .reply.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.comments .comment .comment-body .reply:not(.button-filled):hover {
  background-color: #000;
  color: #fff;
}
.comments .comment .comment-body .reply.button-black-on-yellow.button-filled {
  background-color: #000;
  color: #f2c169;
}
.comments .comment .comment-body .reply.button-black-on-yellow.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.comments .comment .comment-body .reply.button-black-on-yellow:not(.button-filled):hover {
  background-color: #000;
  color: #f2c169;
}
.comments .comment .comment-body .reply.button-yellow {
  border-color: #f2c169;
  color: #f2c169;
}
.comments .comment .comment-body .reply.button-yellow.button-filled {
  background-color: #f2c169;
  color: #000;
}
.comments .comment .comment-body .reply.button-yellow.button-filled:hover {
  background-color: transparent;
  color: #f2c169;
}
.comments .comment .comment-body .reply.button-yellow:not(.button-filled):hover {
  background-color: #f2c169;
  color: #000;
}
.comments .comment .comment-body .reply.button-white {
  border-color: #fff;
  color: #fff;
}
.comments .comment .comment-body .reply.button-white.button-filled {
  background-color: #fff;
  color: #000;
}
.comments .comment .comment-body .reply.button-white.button-filled:hover {
  background-color: transparent;
  color: #fff;
}
.comments .comment .comment-body .reply.button-white:not(.button-filled):hover {
  background-color: #fff;
  color: #000;
}
.comments .comment .comment-respond {
  margin-top: 2em;
}
.comments .comment .comment-respond #cancel-comment-reply-link {
  display: inline-block;
  padding: 1.2em 2em 1em 2em;
  border: 1px solid #000;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  /* Types */
  /* Colors */
  padding: .5em .7em .3em .7em;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-narrow {
  padding: .5em .7em .3em .7em;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-bold {
  font-weight: 400;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-rounded {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-filled {
  background-color: #000;
  color: #fff;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.comments .comment .comment-respond #cancel-comment-reply-link:not(.button-filled):hover {
  background-color: #000;
  color: #fff;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-black-on-yellow.button-filled {
  background-color: #000;
  color: #f2c169;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-black-on-yellow.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-black-on-yellow:not(.button-filled):hover {
  background-color: #000;
  color: #f2c169;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-yellow {
  border-color: #f2c169;
  color: #f2c169;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-yellow.button-filled {
  background-color: #f2c169;
  color: #000;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-yellow.button-filled:hover {
  background-color: transparent;
  color: #f2c169;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-yellow:not(.button-filled):hover {
  background-color: #f2c169;
  color: #000;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-white {
  border-color: #fff;
  color: #fff;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-white.button-filled {
  background-color: #fff;
  color: #000;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-white.button-filled:hover {
  background-color: transparent;
  color: #fff;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-white:not(.button-filled):hover {
  background-color: #fff;
  color: #000;
}
.comments .comment .comment-respond input:not([type="submit"]),
.comments .comment .comment-respond textarea {
  border: 1px solid #ddd;
}
.comments > .comment {
  margin-bottom: 2em;
  background-color: #fff;
}
.comments > .comment:last-child {
  margin-bottom: 0;
}
.comments .children {
  padding: 0;
  list-style: none;
}
.comments .children .comment {
  padding-right: 0;
  border-bottom: 1px solid #ddd;
}
.comments .children .comment:first-child {
  margin-top: 2em;
  border-top: 1px solid #ddd;
}
.comments .children .comment:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.comments .children .comment .comment-body {
  padding-top: 0;
}
