@import "../variables/colors";

article{

	h1{
		font-style:italic;
	}
	h2{
		color:@yellow;
		text-transform:uppercase;
	}

	p:not(.empty){
		position:relative;
		margin-left:2.5em;
		padding-left:2.5em;

		&:before{
			content:'';
			position:absolute;
			width:1px;
			height:100%;
			left:0;
			top:0;
			background-color:#dddddd;
		}
	}

	a:not(.button){
		text-decoration:underline;
	}

	ul{
		margin-left:2.5em;
	}

	/* Article layout */
	.article-thumbnail{
		float:left;
		max-width:50%;
		margin:0 4em 4em 0;

		.attachment-post-thumbnail{
			margin-bottom:1em;
		}
	}
	.meta{
		float:left;

		.wpcr_tooltip{
			float:none;
			width:auto;

			.wpcr_stars{
				display:none;
			}

			.wpcr_averageStars{
				float:none;
				margin:0;
			}
		}
	}
	.content{
		margin-top:2em;
	}

}