article {
  /* Article layout */
}
article h1 {
  font-style: italic;
}
article h2 {
  color: #f2c169;
  text-transform: uppercase;
}
article p:not(.empty) {
  position: relative;
  margin-left: 2.5em;
  padding-left: 2.5em;
}
article p:not(.empty):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #dddddd;
}
article a:not(.button) {
  text-decoration: underline;
}
article ul {
  margin-left: 2.5em;
}
article .article-thumbnail {
  float: left;
  max-width: 50%;
  margin: 0 4em 4em 0;
}
article .article-thumbnail .attachment-post-thumbnail {
  margin-bottom: 1em;
}
article .meta {
  float: left;
}
article .meta .wpcr_tooltip {
  float: none;
  width: auto;
}
article .meta .wpcr_tooltip .wpcr_stars {
  display: none;
}
article .meta .wpcr_tooltip .wpcr_averageStars {
  float: none;
  margin: 0;
}
article .content {
  margin-top: 2em;
}
@media (max-width: 575px) {
  article .article-thumbnail {
    float: none;
    max-width: 100%;
    margin: 0;
  }
  article .meta {
    float: none;
    margin-bottom: 2em;
  }
}
