.l-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.l-footer .l-footer__top {
  padding: 3em 0;
  background-color: #000;
}
.l-footer .l-footer__top .l-logo {
  font-size: 1.5em;
}
.l-footer .l-footer__top .contact {
  padding-left: 4em;
}
.l-footer .l-footer__top .contact > a:hover {
  padding: .5em 1.2em .3em 1.2em;
}
.l-footer .l-footer__top .contact .follow {
  margin-top: 1em;
  text-transform: uppercase;
  color: #fff;
}
.l-footer .l-footer__top .follow {
  display: flex;
  align-items: center;
}
.l-footer .l-footer__top .follow .socials {
  display: inline-block;
  font-size: .8em;
}
.l-footer .l-footer__top .links {
  padding-left: 1em;
  border-left: 1px solid #999;
}
.l-footer .l-footer__top .links a {
  display: block;
  color: #fff;
}
.l-footer .l-footer__bottom {
  padding: 1em 0;
  background-color: #202020;
  text-align: center;
  color: #fff;
}
.l-footer .l-footer__bottom .copyright {
  margin: 0;
  font-weight: 400;
  font-size: .8em;
  text-transform: uppercase;
}
@media (max-width: 575px) {
  .l-footer .l-footer__top .follow {
    display: block;
  }
  .l-footer .l-footer__top .follow .socials {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
  }
  .l-footer .l-footer__top .follow .socials a:first-child {
    margin-left: 0;
  }
}
