@font-face {
  font-family: 'playfair';
  src: url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-bold-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'playfair';
  src: url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'playfair';
  src: url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-italic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'playfair';
  src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sans';
  src: url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'), url('../fonts/pt_sans-web-bold-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sans';
  src: url('../fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'), url('../fonts/pt_sans-web-bolditalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'pt_sans';
  src: url('../fonts/pt_sans-web-italic-webfont.woff2') format('woff2'), url('../fonts/pt_sans-web-italic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'pt_sans';
  src: url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'), url('../fonts/pt_sans-web-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: pt_sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: playfair, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
.l-logo {
  font-size: 2em;
  font-family: playfair, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #f2c169 !important;
}
.l-logo span {
  display: block;
  text-align: right;
  text-transform: none;
  font-size: .7em;
  color: #fff !important;
}
@media (max-width: 575px) {
  .l-logo {
    display: inline-block;
    text-align: left;
  }
  .l-logo span {
    padding-bottom: 1em;
  }
}
.l-header {
  position: relative;
  padding: 1em 0;
  background-color: #000;
}
.l-header .mobile-menu-button {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 20px;
  height: 16px;
  z-index: 999;
}
.l-header .mobile-menu-button span {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.l-header .mobile-menu-button span:nth-child(1) {
  top: 0;
}
.l-header .mobile-menu-button span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.l-header .mobile-menu-button span:nth-child(3) {
  bottom: 0;
}
.l-header * {
  color: #fff;
}
.l-header .nav {
  text-align: center;
  padding: 0;
  list-style: none;
}
.l-header .nav li {
  display: inline-block;
}
.l-header .nav li a {
  position: relative;
  padding: 1em 2em;
  margin-right: 1px;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: color .1s ease;
  -moz-transition: color .1s ease;
  -ms-transition: color .1s ease;
  -o-transition: color .1s ease;
  transition: color .1s ease;
}
.l-header .nav li a:hover {
  color: #ccc;
}
.l-header .nav li a:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 100%;
  width: 1px;
  height: 50%;
  margin-top: -1px;
  background-color: #666;
}
.l-header .nav li:last-child a {
  margin-right: 0;
}
.l-header .nav li:last-child a:after {
  display: none;
}
.l-header .nav li.current_page_item a {
  color: #f2c169;
}
.l-header .nav li:last-child a {
  margin-left: 2em;
  padding: .7em 2em .5em 2em;
  background-color: #f2c169;
  color: #000;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
@media (max-width: 575px) {
  .l-header {
    padding-bottom: 0;
  }
  .l-header > .container > .row > .col {
    text-align: center;
  }
  .l-header .nav {
    padding: 1em;
    margin: 0 -15px;
    background-color: #fff;
    text-align: left;
  }
  .l-header .nav ul {
    padding: 0;
    margin: 0;
  }
  .l-header .nav ul li {
    display: block;
  }
  .l-header .nav ul li a {
    display: block;
    border-bottom: 1px solid #ddd;
    color: #000;
  }
  .l-header .nav ul li a:after {
    display: none;
  }
  .l-header .nav ul li:last-child a {
    border: none;
  }
}
.l-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.l-footer .l-footer__top {
  padding: 3em 0;
  background-color: #000;
}
.l-footer .l-footer__top .l-logo {
  font-size: 1.5em;
}
.l-footer .l-footer__top .contact {
  padding-left: 4em;
}
.l-footer .l-footer__top .contact > a:hover {
  padding: .5em 1.2em .3em 1.2em;
}
.l-footer .l-footer__top .contact .follow {
  margin-top: 1em;
  text-transform: uppercase;
  color: #fff;
}
.l-footer .l-footer__top .follow {
  display: flex;
  align-items: center;
}
.l-footer .l-footer__top .follow .socials {
  display: inline-block;
  font-size: .8em;
}
.l-footer .l-footer__top .links {
  padding-left: 1em;
  border-left: 1px solid #999;
}
.l-footer .l-footer__top .links a {
  display: block;
  color: #fff;
}
.l-footer .l-footer__bottom {
  padding: 1em 0;
  background-color: #202020;
  text-align: center;
  color: #fff;
}
.l-footer .l-footer__bottom .copyright {
  margin: 0;
  font-weight: 400;
  font-size: .8em;
  text-transform: uppercase;
}
.section {
  padding-bottom: 4em;
}
.section.section-black {
  background-color: #000;
}
.section.section-black * {
  color: #fff;
}
.section.section-yellow {
  background-color: #f2c169;
}
.section.section-yellow * {
  color: #000;
}
.section .section-title {
  position: relative;
  padding: 4em 0;
  text-align: center;
  text-transform: uppercase;
}
.section .section-title:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  top: 100%;
  left: 50%;
  margin-top: -3.5em;
  background-color: #333;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.section .section-title .title {
  margin: 0;
  letter-spacing: 2px;
}
.section .section-title .sub-title {
  font-weight: 300;
}
@media (max-width: 575px) {
  .section {
    padding-bottom: 0;
  }
}
.sidebar {
  padding: 4em;
  background-color: #f2c169;
  color: #000;
}
.sidebar h1,
.sidebar h3 {
  text-align: center;
  text-transform: uppercase;
}
.sidebar h1 {
  letter-spacing: 2px;
  margin: 0;
}
.sidebar h3 {
  position: relative;
  margin-top: .5em;
  margin-bottom: 4em;
  font-weight: 300;
  letter-spacing: 1px;
}
.sidebar h3:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 60%;
  bottom: -1em;
  left: 20%;
  background-color: #000;
}
.page-title {
  color: #f2c169;
  text-transform: uppercase;
  font-size: 2em;
}
article h1 {
  font-style: italic;
}
article h2 {
  color: #f2c169;
  text-transform: uppercase;
}
article p:not(.empty) {
  position: relative;
  margin-left: 2.5em;
  padding-left: 2.5em;
}
article p:not(.empty):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #dddddd;
}
article a:not(.button) {
  text-decoration: underline;
}
article ul {
  margin-left: 2.5em;
}
.socials .icon {
  display: inline-block;
  height: 1.7em;
  margin-left: 1.5em;
}
.socials .icon svg {
  height: 100%;
  fill: #f2c169;
  -webkit-transition: fill .1s ease;
  -moz-transition: fill .1s ease;
  -ms-transition: fill .1s ease;
  -o-transition: fill .1s ease;
  transition: fill .1s ease;
}
.socials .icon:hover svg {
  fill: #fff;
}
.button {
  display: inline-block;
  padding: 1.2em 2em 1em 2em;
  border: 1px solid #000;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  /* Types */
  /* Colors */
}
.button.button-narrow {
  padding: .5em .7em .3em .7em;
}
.button.button-bold {
  font-weight: 400;
}
.button.button-rounded {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.button.button-filled {
  background-color: #000;
  color: #fff;
}
.button.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.button:not(.button-filled):hover {
  background-color: #000;
  color: #fff;
}
.button.button-black-on-yellow.button-filled {
  background-color: #000;
  color: #f2c169;
}
.button.button-black-on-yellow.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.button.button-black-on-yellow:not(.button-filled):hover {
  background-color: #000;
  color: #f2c169;
}
.button.button-yellow {
  border-color: #f2c169;
  color: #f2c169;
}
.button.button-yellow.button-filled {
  background-color: #f2c169;
  color: #000;
}
.button.button-yellow.button-filled:hover {
  background-color: transparent;
  color: #f2c169;
}
.button.button-yellow:not(.button-filled):hover {
  background-color: #f2c169;
  color: #000;
}
.button.button-white {
  border-color: #fff;
  color: #fff;
}
.button.button-white.button-filled {
  background-color: #fff;
  color: #000;
}
.button.button-white.button-filled:hover {
  background-color: transparent;
  color: #fff;
}
.button.button-white:not(.button-filled):hover {
  background-color: #fff;
  color: #000;
}
.slider .slide {
  position: relative;
  height: 0;
  padding-bottom: 16.2%;
}
.slider .slide > div {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.thumb div.thumbnail {
  position: relative;
  padding-bottom: 100%;
}
.thumb div.thumbnail > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
.thumb .title {
  margin: 0 0 .25em 0;
  font-size: 1.25em;
  text-transform: uppercase;
  font-family: pt_sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.thumb img + .title,
.thumb .thumbnail + .title {
  margin-top: 1em;
}
.thumb .legend {
  font-style: italic;
}
.thumb .date {
  display: block;
  margin-bottom: 1em;
  font-style: italic;
  text-decoration: underline;
}
.thumb .button {
  float: right;
  margin-top: 1em;
}
.thumb + .thumb {
  margin-top: 4em;
}
.thumb.thumb-full .title {
  font-family: playfair, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  text-transform: none;
}
.thumb.thumb-full .date {
  margin-top: 1em;
  margin-left: 3em;
  color: #f2c169;
  text-decoration: none;
  font-style: normal;
}
.thumb.thumb-full .desc {
  text-align: justify;
}
.thumb.thumb-alone {
  margin-bottom: 4em;
}
form {
  padding-bottom: 2em;
}
form input:not([type="submit"]),
form textarea {
  padding: 1em;
  border: none;
  width: 100%;
  resize: none;
}
form input[type="submit"] {
  padding: 1em;
  border: none;
  background-color: #000;
  color: #fff !important;
  text-transform: uppercase;
}
.comments {
  padding: 0;
  list-style: none;
}
.comments .comment {
  padding: 2em 4em;
}
.comments .comment .comment-body .comment-author .avatar {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.comments .comment .comment-body .comment-author .fn {
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.5em;
}
.comments .comment .comment-body .comment-author .says {
  display: none;
}
.comments .comment .comment-body .comment-meta {
  margin: .5em 0 1em 0;
  font-style: italic;
  text-decoration: underline;
}
.comments .comment .comment-body > p {
  margin: 2em 0 2em 2em;
}
.comments .comment .comment-body .reply {
  margin-left: 2em;
  display: inline-block;
  padding: 1.2em 2em 1em 2em;
  border: 1px solid #000;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  /* Types */
  /* Colors */
  padding: .5em .7em .3em .7em;
}
.comments .comment .comment-body .reply.button-narrow {
  padding: .5em .7em .3em .7em;
}
.comments .comment .comment-body .reply.button-bold {
  font-weight: 400;
}
.comments .comment .comment-body .reply.button-rounded {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.comments .comment .comment-body .reply.button-filled {
  background-color: #000;
  color: #fff;
}
.comments .comment .comment-body .reply.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.comments .comment .comment-body .reply:not(.button-filled):hover {
  background-color: #000;
  color: #fff;
}
.comments .comment .comment-body .reply.button-black-on-yellow.button-filled {
  background-color: #000;
  color: #f2c169;
}
.comments .comment .comment-body .reply.button-black-on-yellow.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.comments .comment .comment-body .reply.button-black-on-yellow:not(.button-filled):hover {
  background-color: #000;
  color: #f2c169;
}
.comments .comment .comment-body .reply.button-yellow {
  border-color: #f2c169;
  color: #f2c169;
}
.comments .comment .comment-body .reply.button-yellow.button-filled {
  background-color: #f2c169;
  color: #000;
}
.comments .comment .comment-body .reply.button-yellow.button-filled:hover {
  background-color: transparent;
  color: #f2c169;
}
.comments .comment .comment-body .reply.button-yellow:not(.button-filled):hover {
  background-color: #f2c169;
  color: #000;
}
.comments .comment .comment-body .reply.button-white {
  border-color: #fff;
  color: #fff;
}
.comments .comment .comment-body .reply.button-white.button-filled {
  background-color: #fff;
  color: #000;
}
.comments .comment .comment-body .reply.button-white.button-filled:hover {
  background-color: transparent;
  color: #fff;
}
.comments .comment .comment-body .reply.button-white:not(.button-filled):hover {
  background-color: #fff;
  color: #000;
}
.comments .comment .comment-respond {
  margin-top: 2em;
}
.comments .comment .comment-respond #cancel-comment-reply-link {
  display: inline-block;
  padding: 1.2em 2em 1em 2em;
  border: 1px solid #000;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  /* Types */
  /* Colors */
  padding: .5em .7em .3em .7em;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-narrow {
  padding: .5em .7em .3em .7em;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-bold {
  font-weight: 400;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-rounded {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-filled {
  background-color: #000;
  color: #fff;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.comments .comment .comment-respond #cancel-comment-reply-link:not(.button-filled):hover {
  background-color: #000;
  color: #fff;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-black-on-yellow.button-filled {
  background-color: #000;
  color: #f2c169;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-black-on-yellow.button-filled:hover {
  background-color: transparent;
  color: #000;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-black-on-yellow:not(.button-filled):hover {
  background-color: #000;
  color: #f2c169;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-yellow {
  border-color: #f2c169;
  color: #f2c169;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-yellow.button-filled {
  background-color: #f2c169;
  color: #000;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-yellow.button-filled:hover {
  background-color: transparent;
  color: #f2c169;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-yellow:not(.button-filled):hover {
  background-color: #f2c169;
  color: #000;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-white {
  border-color: #fff;
  color: #fff;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-white.button-filled {
  background-color: #fff;
  color: #000;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-white.button-filled:hover {
  background-color: transparent;
  color: #fff;
}
.comments .comment .comment-respond #cancel-comment-reply-link.button-white:not(.button-filled):hover {
  background-color: #fff;
  color: #000;
}
.comments .comment .comment-respond input:not([type="submit"]),
.comments .comment .comment-respond textarea {
  border: 1px solid #ddd;
}
.comments > .comment {
  margin-bottom: 2em;
  background-color: #fff;
}
.comments > .comment:last-child {
  margin-bottom: 0;
}
.comments .children {
  padding: 0;
  list-style: none;
}
.comments .children .comment {
  padding-right: 0;
  border-bottom: 1px solid #ddd;
}
.comments .children .comment:first-child {
  margin-top: 2em;
  border-top: 1px solid #ddd;
}
.comments .children .comment:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.comments .children .comment .comment-body {
  padding-top: 0;
}
.pagination {
  margin-top: 4em;
}
.pagination .pagination-links {
  float: right;
}
.pagination .pagination-links > * {
  display: inline-block;
  padding: 1em;
  border: 1px solid #ddd;
}
.pagination .pagination-links > *.prev,
.pagination .pagination-links > *.next {
  background-color: #e6e6e6;
}
