@import "../../variables/colors";

.sidebar{
	margin-top:-7em;
}

.quote{
	padding:0 6em;
	text-align:center;
	font-size:1.5em;

	.author{
		float:right;
		color:@yellow;
	}
}

@media (max-width: 575px){
	.sidebar{
		margin:0 -15px;
	}
	.quote{
		margin-bottom:2em;
		padding:0;
	}
    .section-home-news{
	    .thumb{
		    margin-bottom:2em;
	    }
    }
}